<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194863296159-g417897gv2vbl9ttcl641bq9eih46gj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194863296159-g417897gv2vbl9ttcl641bq9eih46gj9</string>
	<key>API_KEY</key>
	<string>AIzaSyDXg1_cjJ06bMog0la4OCca04wPXc5oxj8</string>
	<key>GCM_SENDER_ID</key>
	<string>194863296159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.skyisthelimit.pgMessenger</string>
	<key>PROJECT_ID</key>
	<string>pgmessenger-9ab54</string>
	<key>STORAGE_BUCKET</key>
	<string>pgmessenger-9ab54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194863296159:ios:f4d05922c1b800fc653caa</string>
</dict>
</plist>