
*.lock
constant.dart
pg_messenger/ios/Flutter/Debug.xcconfig
pg_messenger/ios/Flutter/Release.xcconfig
/pg_messenger/ios/Flutter/Debug.xcconfig
/pg_messenger/ios/Flutter/Release.xcconfig
/pg_messenger/ios/Runner.xcodeproj/project.pbxproj
/pg_messenger/ios/Runner.xcworkspace/contents.xcworkspacedata