
*.lock
pg_messenger/ios/Flutter/Debug.xcconfig
pg_messenger/ios/Flutter/Release.xcconfig
/.DS_Store
pg_messenger/ios/Runner.xcodeproj/project.pbxproj
*.xcbuild
*.db
pg_messenger/ios/build/XCBuildData/BuildDescriptionCacheIndex-94d14a191cdafb470140bd78292f2ba5
pg_messenger/ios/GoogleService-Info.plist
/pg_messenger/android/app/google-services.json

/pg_messenger/PGMESSENGER_PROFILE_&_Cert/
/pg_messenger/lib/Constants/constant.dart